alabaster==0.7.12
Babel==2.10.3
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cycler==0.11.0
docutils==0.17.1
fonttools==4.34.4
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
Jinja2==3.1.2
kiwisolver==1.4.3
lxml==4.9.1
lzf==0.1
MarkupSafe==2.1.1
matplotlib==3.5.2
numpy==1.23.0
packaging==21.3
Pillow==9.2.0
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.10
zipp==3.8.0
