include rainbow_components/rainbow_components.min.js
include rainbow_components/rainbow_components.min.js.map
include rainbow_components/async-*.js
include rainbow_components/async-*.js.map
include rainbow_components/*-shared.js
include rainbow_components/*-shared.js.map
include rainbow_components/metadata.json
include rainbow_components/package-info.json
include README.md
include LICENSE
include package.json
